# macOS metadata
.DS_Store
**/.DS_Store

# Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Virtual environments
venv/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
